{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'myhome/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
  <div class="container m-0 p-0 p-5" style="max-width:100vw !important; max-height:100vh !important;">
    <div class="row">
      <div class="col-9 d-flex text-align-center">
        <div id="slideshow" class="mt-0 p-0">
          {% for item in images %}
          <div>
            <img src="{{ item.url }}">
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-3 sidebar">
        <a class="navbar-brand" href="#">My Home That Day</a>
        {% block content %}
        <h5>Enter a date to see what the Earth looked like that day</h5>
        <br>
        <form action="" method="post">
          {% csrf_token %}
          <table>
            {{ form.as_p }}
          </table>
          <br>
          <input type="submit" value="Submit">
        </form>
        {% endblock %}
        <div style="text-align:center !important;">
          {% block date %}
          <h4>{{ date }}</h4>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <script>
  $("#slideshow > div:gt(0)").hide();

  // setInterval(function() {
  //   $('#slideshow > div:first')
  //     .fadeOut(200)
  //     .next()
  //     .fadeIn(0)
  //     .end()
  //     .appendTo('#slideshow');
  // }, 1000);
  </script>

  <!-- <script src="{% static 'myhome/scripts.js' %}"></script> -->
</body>
</html>
