{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'myhome/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
  <div class="container-fluid m-0 p-0">
    <div class="row m-0">
      <div class="col-9 photos">
        <a class="navbar-brand mobile-header" href="/">My Home That Day</a>
        <div id="slideshow" class="mt-0 p-0">
          {% for item in images %}
          <div class="img-div">
            <img src="{{ item.url }}">
            <p style="text-align: center; font-size: 24px;">{{ date }} {{ item.time }}</p>
          </div>
          {% endfor %}
        </div>
        <a style="font-size:32px; color:whitesmoke; position: absolute; left:50%; margin-left:-16px; bottom:25px; text-decoration: none;" href="#about" class="fa scroll-button">&#xf13a;</a>
      </div>
      <div id="about" class="col-3 p-0 p-4 sidebar">
        <a class="navbar-brand" href="/">My Home That Day</a>
        <br>
        <br>
        <hr>
        <p id="haiku">
          Look from the outside<br>
          How beautiful to find a<br>
          Shift in perspective
        </p>
        <hr>
        <br>
        <h5>Enter a date to see what our planet looked like that day.</h5>
        {% block content %}
        <form action="" method="post">
          {% csrf_token %}
          <table>
            {{ form.as_p }}
          </table>
          <input class="btn btn-outline-light" type="submit" value="Search">
        </form>
        {% endblock %}
        <br>
        <p>Data available from July 21st, 2015</p>
        <p class="made-by">&#169 2020 <a href="www.niyoshiparekh.com">Niyoshi</a> & <a href="www.arysriv.com" style="color:#2e8b57;">Aryan</a></p>
      </div>
    </div>
  </div>
  <script>
  $("#slideshow > div:gt(0)").hide();
  $("#slideshow > p:gt(0)").hide();

  setInterval(function() {
    $('#slideshow > div:first')
      .fadeOut(200)
      .next()
      .fadeIn(100)
      .end()
      .appendTo('#slideshow');
  }, 1000);
  </script>
</body>

</html>
